<div class="mb-3">
    <label for="" class="form-label">Product Name</label>
    <input type="text" class="form-control" name="Name" placeholder="Name">
    <label for="" class="form-label">Price</label>
    <input type="text" class="form-control" name="Price" placeholder="Price">
    <label for="" class="form-label">Quantity</label>
    <input type="text" class="form-control" name="Quantity" placeholder="Quantity">
    <label for="" class="form-label">Image</label>
    <input type="text" class="form-control" name="imgUrl" placeholder="Price">
    <label for="" class="form-label">Category</label>
    <input type="text" class="form-control" name="Quantity" placeholder="categoryId"><br/>

    <input type="submit" class="btn btn-primary" value="Add" (click)="saveProduct()"/>
</div>