<form>
    <div class="mb-3">
        <label for="" class="form-label">Product Name</label>
        <input type="text" class="form-control" name="Name" placeholder="Name" required minlength="3">
        <label for="" class="form-label">Price</label>
        <input type="text" class="form-control" name="Price" placeholder="Price" required min="10">
        <label for="" class="form-label">Quantity</label>
        <input type="text" class="form-control" name="Quantity" placeholder="Quantity" required min="1">
        <label for="" class="form-label">Image</label>
        <input type="text" class="form-control" name="imgUrl" required>
        <label for="" class="form-label">Category</label>
        <!-- <select class="form-select form-select-lg" name="cat" id="catSel" [(ngModel)]="selectedCatId">
            <option *ngFor="let cat of catList" [value]="cat.Id">{{cat.name}}</option> -->
        <!-- </select> -->
        <input type="submit" class="btn btn-primary" value="Add" (click)="saveProduct()" />
    </div>
</form>