<!-- <ul *ngFor="let i of proList">
    <li>Id : {{i.Id}}</li>
    <li>Name : {{i.Name}}</li>
    <li>Price : {{i.Price}}</li>
    <li>Quantity : {{i.Quantity}}</li>
    <li>CategoryId : {{i.categoryId}}</li>
    <li><img src="{{i.imgUrl}}" alt="img" width="150" height="150" style="border-radius: 30%"></li>
</ul> -->

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price $</th>
            <th scope="col">Price EGP</th>
            <th scope="col">Quantity</th>
            <th scope="col">Category Id</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
        <!-- *ngFor , *ngIf & [ngSwitch] are Structured Directive -->
        <!-- <tr  [class.bg-warning]="i.Quantity===0" [style.background-color]="(i.Quantity >20) ? '#eee' : '' "> -->
        <ng-container *ngFor="let i of proList ; let count = index ; TrackBy : productTrackBy ">
            <!-- Can't  -->
            <!-- <tr *ngIf="i.Quantity > 0"> -->
            <tr [ngStyle]="{'background-color' :i.Quantity==0? 'red' : '' , 'color' :i.Quantity==0? 'white' : '' }">
                <td>{{count+1}}</td>
                <td>{{i.Name}}</td>
                <td>{{i.Price | currency : 'USD'}}</td> <!-- pipes -->
                <td>{{i.Price | uSDtoEGP : 20 | currency :'EGP '}}</td> <!-- pipes -->
                <td>
                    <ng-container [ngSwitch]="i.Quantity">
                        <div *ngSwitchCase="0">Out of Stock</div>
                        <div *ngSwitchCase="1">Last Item</div>
                        <div *ngSwitchDefault>{{i.Quantity}}</div>
                    </ng-container>
                    <!-- <div *ngIf="i.Quantity == 0">Out of Stock</div>
                    <div *ngIf="i.Quantity>0 ; else outOfStock">{{i.Quantity}}</div> <!-- ngIf & ng-template -->
                    <!--<ng-template #outOfStock>Out of Stock</ng-template>-->
                </td>
                <td>{{i.categoryId}}</td>
                <!-- <td><img LightBox highLightColor="blue" src="{{i.imgUrl}}" alt="img" width="30" height="30"></td> -->
                <td><img LightBox="blue" defaultColor="white" src="{{i.imgUrl}}" alt="img" width="30" height="30"></td>

            </tr>
        </ng-container>
    </tbody>


    <!-- <h1>Time Now : {{dateNow | date :'mediumTime'}}</h1> -->