<!-- <ul *ngFor="let i of proList">
    <li>Id : {{i.Id}}</li>
    <li>Name : {{i.Name}}</li>
    <li>Price : {{i.Price}}</li>
    <li>Quantity : {{i.Quantity}}</li>
    <li>CategoryId : {{i.categoryId}}</li>
    <li><img src="{{i.imgUrl}}" alt="img" width="150" height="150" style="border-radius: 30%"></li>
</ul> -->

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Category Id</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody *ngFor="let i of proList ; let count = index ; TrackBy : productTrackBy ">
        <!-- <tr  [class.bg-warning]="i.Quantity===0" [style.background-color]="(i.Quantity >20) ? '#eee' : '' "> -->
        <tr  [class.bg-warning]="i.Quantity===0" [style.background-color]="(i.Quantity >20) ? '#eee' : '' "> <!-- Can't  -->
            <td>{{count+1}}</td>
            <td>{{i.Name}}</td>
            <td>{{i.Price}}</td>
            <td>
                <!-- <div *ngIf="i.Quantity == 0">Out of Stock</div> -->
                <div *ngIf="i.Quantity>0 ; else outOfStock">{{i.Quantity}}</div> <!-- ngIf & ng-template -->
                <ng-template #outOfStock>Out of Stock</ng-template>
            </td>
            <td>{{i.categoryId}}</td>
            <td><img src="{{i.imgUrl}}" alt="img" width="30" height="30"></td>
        </tr>
    </tbody>