<div class="container-fluid vh-100">
    <div class="row">
        <Navigation style="background-color: rgb(103, 102, 102)"></Navigation>
    </div>
    <div class="row">
        <slidbar class="col-2" style="background-color: rgb(170, 156, 156)"></slidbar>
        <div class="col-10" style="background-color: rgb(203, 189, 189)">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row">
        <footer style="background-color: rgb(117, 117, 117)"></footer>
    </div>
</div>